<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 主管端介面</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fullcalendar")
    @Styles.Render("~/Content/qtip")
    @Styles.Render("~/Content/gijgo")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        @Html.ActionLink("主管端介面", "Index", "Main", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">@Html.ActionLink("首頁", "Index", "Main", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("使用者", "Index", "UserData", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("行程", "Index", "Schedule", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("導遊", "Index", "Guider", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("請假申請", "Index", "Leaves", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("登出", "Logout", "Main", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-lg-5 py-md-4">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <center>&copy; @DateTime.Now.Year - 導遊派遣系統</center>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")


    <!-- Include moment-->
    @Scripts.Render("~/bundles/moment")

    <!-- qTip -->
    @Scripts.Render("~/bundles/qtip")

    <!-- Full Calendar -->
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/Calendar-locale")
    <!-- Date Picker -->
    @Scripts.Render("~/bundles/DatePicker")
    @*@Scripts.Render("~/bundles/gijgo")*@
    @RenderSection("scripts", required: false)
</body>
</html>