@using MVC.Models
@model MVC.Models.Leave

@{
    ViewBag.Title = "Delete";
    var Con_list = ViewData["Con_list"] as List<Schedule>;
}

<h2>您所核可的請假與 @Con_list.Count 個行程衝突，是否依然核可申請？</h2>

<div>
    <h4>請假資訊</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Model.Start.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Model.End.AddDays(-1).ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">

        @Html.ActionLink("不核可", "DisAgree", new { id = Model.id }, new { @class = "btn btn-danger btn-sm"}) |
        @Html.ActionLink("依然核可", "Agree", new { id = Model.id }, new { @class = "btn btn-primary btn-sm", @onclick = "Click()" })
    </div>
    }
</div>

<script>
    function Click() {
        alert("核可後將會有 @Con_list.Count 個行程需重新安排導遊");
    }
</script>