@using MVC.Models;
@model  MVC.Models.MainViewModel

@{
    var Guiders = Model.Guiders;
    var Events = Model.Schedulable_Event;
    var Schedules = Model.Scheules;
    var Name = ViewBag.Name;
    var account = "";
    if (Session["account"] == null || string.IsNullOrWhiteSpace(Session["account"].ToString()))
    {
        Response.Redirect("~/Main/Login");
    }
    else
    {
        account = Session["account"].ToString();
    }
}

<style>
    #external-events {
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
    }

        #external-events .fc-event {
            margin: 5% 0;
            font-size: 18px;
            cursor: move;
        }

        #external-events p {
            margin: 1.5em 0;
            font-size: 14px;
            color: #666;
        }

            #external-events p input {
                margin: 0;
                vertical-align: middle;
            }

    #calendar {
        max-width: 900px;
        margin: 20px auto;
    }
</style>

<div class="row">
    <div class="col-md-3  border-right border-dark ">
        <div class="container">
            <div class="row border">
                <h5>導遊列表: @Name</h5>
                <table class="table table-hover table-sm">
                    <tr class="thead-dark">
                        <th>
                            編號
                        </th>
                        <th>
                            姓名
                        </th>
                        <th>
                            顯示
                        </th>
                    </tr>

                    @foreach (var item in Guiders)
                    {
                        <tr id="test">
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("查看", "Index", new { id = item.Number }, new { @class = "btn btn-outline-info btn-sm" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <hr class="border" />
        <div class="container">
            <div id='external-events'>
                <div id='external-events-listing'>
                    <h4>待派旅團</h4>
                    @foreach (var item in Events)
                    {
                        <div class='fc-event' data-id="@item.id" data-title="@item.title" data-start="@item.start" data-end="@item.end"
                             data-guider="@item.guider" data-color="@item.color">@item.title</div>
                        }
                </div>
            </div>
            <p></p>
        </div>
    </div>

    <div class="col-md-9">
        <div class="container">
            <div class="row">
                <div id='calendar'></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h4>待派旅團列表</h4>
                <table class="table table-hover table-sm" id="table">
                    <tr class="thead-dark">
                        <th>
                            標題
                        </th>
                        <th>
                            開始時間
                        </th>
                        <th>
                            結束時間
                        </th>
                        <th>
                            描述
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Events)
                    {
                        <tr id="list_@item.id">
                            <td>
                                @Html.DisplayFor(model => item.title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.start)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.end)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.discription)
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-dark btn-sm" onclick="BestGuider(@item.id)">
                                    最適導遊
                                </button>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="pDetails"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/qTip/jquery.qtip.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var Num = GetURLParameter();

        $('#external-events .fc-event').each(function () {
            //make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });

        $('#calendar').fullCalendar({
            height: 500,
            width: 450,
            header:
            {
                left: 'prev,next ',
                center: 'title',
                right: 'today'
            },
            buttonText: {
                today: 'today'
            },
            editable: true,
            droppable: true,
            eventClick: function (calEvent, jsEvent, view) {
                $('#ModalLabel').text(calEvent.title);
                var $detail = $('<div/>');
                $detail.append($('<p/>').html('<b>開始時間:</b>' + calEvent.start.format("YYYY-MM-DD")));
                if (calEvent.end != null) {
                    $detail.append($('<p/>').html('<b>結束時間:</b>' + calEvent.end.format("YYYY-MM-DD")));
                }
                $detail.append($('<p/>').html('<b>描述:</b>' + calEvent.discription));
                $detail.append($('<p/>').html('<b>日程表:</b>' + '<a href =../GetReport/' + calEvent.id + ' target = "_blank" class = "btn btn-info btn-sm"><span> 開啟檔案</span>'));
                $('#Modal #pDetails').empty().html($detail);
                $('#Modal').modal("show");
            },
            dayClick: function (date, jsEvent, view, resourceObj) {
                alert('Date: ' + date.format());
            },
            //--------------------------------------------------------------------------------------------------------------//
            //---------------------------------------------初始化事件取得---------------------------------------------------//
            //--------------------------------------------------------------------------------------------------------------//
            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: "/Main/GetCalendarData/" + Num,
                    type: "POST",
                    success: function (result) {
                        var events = [];

                        $.each(result, function (i, data) {
                            events.push(
                                {
                                    id: data.id,
                                    title: data.title,
                                    discription: data.discription,
                                    start: moment(data.start).format('YYYY-MM-DD'),
                                    end: moment(data.end).format('YYYY-MM-DD'),
                                    guider: data.guider,
                                    textColor: 'white',
                                    color: data.color,
                                });
                        });

                        callback(events);
                    },
                    error: function () {
                        alert("Failed.");
                    }
                });

            },
            eventRender: function (event, element) {
                element.qtip(
                    {
                        content: {
                            text: event.discription,
                            title: "行程描述"
                        },

                        hide: {
                            fixed: true,
                            delay: 300
                        }, position: {
                            my: 'top left',  // Position my top left...
                            at: 'bottom right', // at the bottom right of...
                        },
                        style: {
                            classes: 'qtip-bootstrap'
                        }
                    });
            },
            //--------------------------------------------------------------------------------------------------------------//
            //----------------------------------------FullCalendar內Event的更動---------------------------------------------//
            //--------------------------------------------------------------------------------------------------------------//
            eventDrop: function (oldevent, event) {
                alert("Event:" + oldevent.title + " \n start:" + moment(oldevent.start).format("YYYY-MM-DD")
                    + "\n end:" + moment(oldevent.end).format("YYYY-MM-DD"));
                var schedule = {
                    id: oldevent.id,
                    title: oldevent.title,
                    start: moment(oldevent.start).format("YYYY-MM-DD"),
                    end: moment(oldevent.end).format("YYYY-MM-DD"),
                    discription: oldevent.discription,
                    guider: oldevent.guider
                };
                $.ajax({
                    url: "/Main/UpdateEvent",
                    data: JSON.stringify(schedule),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {

                        alert(data.message);
                        if (data.ok) {
                            alert("Event: " + schedule.title + " 已移動.");
                            $('#calendar').fullCalendar('refetchEvents');
                        }
                        else {
                            $('#calendar').fullCalendar('refetchEvents');
                        }
                    },
                    error: function (xhr) {
                        alert("error");
                    }
                });
            },

            //--------------------------------------------------------------------------------------------------------------//
            //------------------------------------------Event丟入FullCalendar的事件-----------------------------------------//
            //--------------------------------------------------------------------------------------------------------------//
            drop: function (date, jsEvent, ui, resourceId) {
                if (Num == "Index" || Num == null) {
                    alert("請先查看導遊清單!");
                    $('#calendar').fullCalendar('removeEvents', jsEvent._id);
                }
                else {
                    var El = $(this);
                    var schedule = {
                        id: El.data('id'),
                        title: El.data('title'),
                        start: moment(El.data('start')).format("YYYY-MM-DD"),
                        end: moment(El.data('end')).format("YYYY-MM-DD"),
                        discription: El.data('discription'),
                        guider: Num,
                        textColor: 'white',
                    };

                    $.ajax({
                        url: "/Main/AssignGuider",
                        data: JSON.stringify(schedule),
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            //alert("success");
                            if (data.ok) {
                                El.remove();
                                $('#list_' + schedule.id).remove();
                                alert(data.message);
                                alert("ID: " + schedule.id + " 事件已移動.");
                                $('#calendar').fullCalendar('refetchEvents');
                            }
                            else {
                                alert(data.message);
                                $('#calendar').fullCalendar('refetchEvents');
                            }
                        },
                        error: function (xhr) {
                            alert("error");
                        }
                    });

                }

            }, // this allows things to be dropped onto the calendar
            //--------------------------------------------------------------------------------------------------------------//
            //------------------------------------------Event拉出FullCalendar的事件-----------------------------------------//
            //--------------------------------------------------------------------------------------------------------------//
            eventDragStop: function (event, jsEvent, ui, view) {
                if (isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
                    if (event.title == "請假") {
                        alert("個人請假並非公司安排之行程");
                        window.location.reload();
                    }
                    else {
                        $('#calendar').fullCalendar('removeEvents', event._id);
                        var el = $("<div class='fc-event' data-id=" + event.id + " data-title="
                            + event.title + " data-start=" + moment(event.start).format("YYYY-MM-DD")
                            + " data-end=" + moment(event.end).format("YYYY-MM-DD") + " data-guider=" + event.guider + ">")
                            .appendTo('#external-events-listing').text(event.title);
                        el.draggable({
                            zIndex: 999,
                            revert: true,
                            revertDuration: 0
                        });
                        $.ajax({
                            url: "/Main/CancelGuider",
                            type: "POST",
                            data: {
                                id: event.id,
                                guider: null
                            },
                            success: function (result) {
                                alert("Event: " + event.title + " 已取消.");
                                $('#calendar').fullCalendar('refetchEvents');
                                window.location.reload();
                            },
                            error: function () {
                                alert("Failed.");
                            }
                        });
                    }
                }
            }
        });
        var isEventOverDiv = function (x, y) {

            var external_events = $('#external-events');
            var offset = external_events.offset();
            offset.right = external_events.width() + offset.left;
            offset.bottom = external_events.height() + offset.top;

            //Compare
            if (x >= offset.left
                && y >= offset.top
                && x <= offset.right
                && y <= offset.bottom) { return true; }
            return false;

        }
    });

    function BestGuider(value) {
        $.ajax({
            url: "/Main/_ModalView/" + value,
            type: "GET",
            success: function (evt) {
                $('#ModalLabel').text('最適導遊清單如下:');
                $('#pDetails').empty().html(evt);
                $('#Modal').modal("show");
            },
            error: function (xhr) {
                alert("error");
            }
        });
    }
    function GetURLParameter() {
        var sPageURL = window.location.href;
        var indexOfLastSlash = sPageURL.lastIndexOf("/");

        if (indexOfLastSlash > 0 && sPageURL.length - 1 != indexOfLastSlash)
            return sPageURL.substring(indexOfLastSlash + 1).toString();
        else
            return null;
    }

</script>





