@using MVC.Models;
@model  MVC.Models.MainViewModel

@{
    var Guiders = Model.Guiders;
    var Events = Model.Schedulable_Event;
    var Schedules = Model.Scheules;
    var Name = ViewBag.Name;
    var account = "";
    if (Session["account"] == null || string.IsNullOrWhiteSpace(Session["account"].ToString()))
    {
        Response.Redirect("~/Main/Login");
    }
    else
    {
        account = Session["account"].ToString();
    }
}

<style>
    #external-events {
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
    }

    #external-events .fc-event {
        margin: 5% 0;
        font-size:18px;
        cursor: move;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 14px;
        color: #666;
    }

    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar {
        max-width: 900px;
        margin: 20px auto;
    }
</style>

<div class="row">
    <div class="col-md-3  border-right border-dark ">
        <div class="container">
            <div class="row border">
                <h5>導遊列表: @Name</h5>
                <table class="table table-hover table-sm">
                    <tr class="thead-dark">
                        <th>
                            編號
                        </th>
                        <th>
                            姓名
                        </th>
                        <th>
                            顯示
                        </th>
                    </tr>

                    @foreach (var item in Guiders)
                    {
                        <tr id="test">
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("查看", "Index", new { id = item.Number }, new { @class = "btn btn-outline-info btn-sm" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
            </div>
        <hr class="border"/>
        <div class="container">
            <div id='external-events'>
                <div id='external-events-listing'>
                    <h4>待派旅團</h4>
                    @foreach (var item in Events)
                     {
                        <div class='fc-event' data-id="@item.id" data-title="@item.title" data-start="@item.start" data-end="@item.end" data-guider="@item.guider">@item.title</div>
                     }
                </div>
            </div>
            <p></p>
        </div>
    </div>
    
    <div class="col-md-9">
        <div class="container">
            <div class="row">
                <div id='calendar'></div>
            </div>
        </div>


        <div id="Modal" class="modeal fade"role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">content</a>>
                        <button type="button" class="close"data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id="event-title"></span></h4>
                    </div>
                    <div class="modal-body">
                        <p id="pDetails"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <h4>旅團列表</h4>
                <table class="table table-hover table-sm">
                    <tr class="thead-dark">
                        <th>
                            標題
                        </th>
                        <th>
                            開始時間
                        </th>
                        <th>
                            結束時間
                        </th>
                        <th>
                            描述
                        </th>
                    </tr>

                    @foreach (var item in Events)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.start)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.end)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.discription)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/qTip/jquery.qtip.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var Num = GetURLParameter();

        //var Draggable = FullCalendarInteraction.Draggable;
        //new Draggable($('#external-events'), {
        //    itemSelector: '.fc-event',
        //    eventData: function (eventEl) {
        //        return {
        //            title: eventEl.innerText,
        //            stick: true
        //        };
        //    },
        //    zIndex: 999,
        //    revert: true,      // will cause the event to go back to its
        //    revertDuration: 0  //  original position after the drag
        //});

        $('#external-events .fc-event').each(function () {
            // store data so the calendar knows to render an event upon drop
            $(this).data('event', {
                title: $(this).data('title'), // use the element's text as the event title
                stick: true // maintain when user navigates (see docs on the renderEvent method)
            });

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });
        $('#calendar').fullCalendar({
            height: 500,
            width:450,
            header:
            {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                today: 'today',
                month: 'month',
                week: 'week',
                day: 'day'
            },
            forceEventDuration:true,
            editable: true,
            droppable: true,
            eventClick: function (calEvent, jsEvent, view) {
                $('#Modal #event-title').text(calEvent.title);
                var $discription = $('<div/>');
                $discription.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("YYYY-MM-DD HH:mm a")));
                if (calEvent.end != null) {
                    $discription.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("YYYY-MM-DD HH:mm a")));
                }
                $discription.append($('<p/>').html('<b>Discription:</b>' + calEvent.discription));
                $('#Modal #pDetails').empty().html($discription);
                $('#Modal').modal();
            },
            dayClick: function (date, jsEvent, view, resourceObj) {
                alert('Date: ' + date.format());
            },
            //--------------------------------------------------------------------------------------------------------------//
            //---------------------------------------------初始化事件取得---------------------------------------------------//
            //--------------------------------------------------------------------------------------------------------------//
            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: "/Main/GetCalendarData/" + Num,
                    type: "POST",
                    dataType: "JSON",

                    success: function (result) {
                        var events = [];

                        $.each(result, function (i, data) {
                            events.push(
                                {
                                    id: data.id,
                                    title: data.title,
                                    description: data.discription,
                                    start: moment(data.start).format('YYYY-MM-DD'),
                                    end: moment(data.end).format('YYYY-MM-DD'),
                                    guider: data.guider,
                                    textColor: 'white',
                                });
                        });

                        callback(events);
                    },
                    error: function () {
                        alert("Failed.");
                    }
                });

            },
            eventRender: function (event, element) {
                element.qtip(
                    {
                        content: {
                            text: event.description,
                            title: "行程描述"
                        },

                        hide: {
                            fixed: true,
                            delay: 300
                        }, position: {
                            my: 'top left',  // Position my top left...   
                            at: 'bottom right', // at the bottom right of...   
                        },
                        style: {
                            classes: 'qtip-bootstrap'
                        }
                    });
            },
            //--------------------------------------------------------------------------------------------------------------//
            //----------------------------------------FullCalendar內Event的更動---------------------------------------------//
            //--------------------------------------------------------------------------------------------------------------//
            eventDrop: function (oldevent,event) {
                alert("oldevent:\n id:" + oldevent.id + " \n start:" + moment(oldevent.start).format("YYYY-MM-DD")
                    + "\n end:" + moment(oldevent.end).format("YYYY-MM-DD"));
                alert("event:\n id:" + event.id + " \n start:" + moment(event.start).format("YYYY-MM-DD")
                    + "\n end:" + moment(event.end).format("YYYY-MM-DD"));
                $.ajax({
                    url: "/Main/UpdateEvent",
                    type: "POST",
                    dataType: "josn",
                    data: {
                        id: oldevent.id,
                        s: moment(oldevent.start).format("YYYY-MM-DD"),
                        e: moment(oldevent.end).format("YYYY-MM-DD"),
                        guider: oldevent.guider
                    },
                    success: function (result) {
                        alert("Successed.");
                        alert(result.status);
                        alert("ID: " + event.id + " 事件已移動.");
                    },
                    error: function () {
                        alert("Failed.");
                    }
                });
                
                $('#calendar').fullCalendar('rerenderEvents');
            },

            //--------------------------------------------------------------------------------------------------------------//
            //------------------------------------------Event丟入FullCalendar的事件-----------------------------------------//
            //--------------------------------------------------------------------------------------------------------------//
            drop: function (event, delta, date ) {
                if (Num == "Index") {
                    alert("請先查看導遊清單!");
                    $('#calendar').fullCalendar('removeEvents', event._id);
                }
                else {
                    $(this).remove();
                    alert("oldevent\n id:" + $(this).data('id') + " \n start:" + moment($(this).start).format("YYYY-MM-DD")
                        + "\n end:" + moment($(this).end).format("YYYY-MM-DD") + " \n title:" + $(this).data('title') + "\n guider:" + $(this).data('guider'));
                    //------------------------------//
                    //--事件丟到行事曆後的資料寫入--//
                    //------------------------------//
                    $.ajax({
                        url: "/Main/AssignGuider",
                        type: "POST",
                        dataType: "josn",
                        data: {
                            id: $(this).data('id'),
                            guider: Num
                        },
                        success: function (result) {
                            alert("Successed.");
                            alert(result.status);
                            alert("ID: " + event.id + " 事件已移動.");
                        },
                        error: function () {
                            alert("Failed.");
                        }
                    });
                    $('#calendar').fullCalendar('rerenderEvents');
                }
                
            }, // this allows things to be dropped onto the calendar
            //--------------------------------------------------------------------------------------------------------------//
            //------------------------------------------Event拉出FullCalendar的事件-----------------------------------------//
            //--------------------------------------------------------------------------------------------------------------//
            eventDragStop: function (event, jsEvent, ui, view) {
                if (isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
                    $('#calendar').fullCalendar('removeEvents', event._id);
                    var el = $("<div class='fc-event' data-id=" + event.id + " data-title="
                        + event.title + " data-start=" + moment(event.start).format("YYYY-MM-DD")
                        + " data-end=" + moment(event.end).format("YYYY-MM-DD") + " data-guider=" + event.guider + ">")
                        .appendTo('#external-events-listing').text(event.title);
                    el.draggable({
                        zIndex: 999,
                        revert: true,
                        revertDuration: 0
                    });
                    el.data('event', { title: event.title, stick: true });
                    $.ajax({
                        url: "/Main/AssignGuider",
                        type: "POST",
                        dataType: "JOSN",
                        data: {
                            id: event.id,
                            guider: null
                        },
                        success: function (result) {
                            alert(result.status);
                            alert("ID: " + event.id + " 事件已取消.");
                        },
                        error: function () {
                            alert("Failed.");
                        }
                    });
                }
            }
        });
        var isEventOverDiv = function (x, y) {

            var external_events = $('#external-events');
            var offset = external_events.offset();
            offset.right = external_events.width() + offset.left;
            offset.bottom = external_events.height() + offset.top;

            // Compare
            if (x >= offset.left
                && y >= offset.top
                && x <= offset.right
                && y <= offset.bottom) { return true; }
            return false;

        }
    }); 
    function GetURLParameter() {
        var sPageURL = window.location.href;
        var indexOfLastSlash = sPageURL.lastIndexOf("/");

        if (indexOfLastSlash > 0 && sPageURL.length - 1 != indexOfLastSlash)
            return sPageURL.substring(indexOfLastSlash + 1).toString();
        else
            return null;
    }
    function click() {
        alert(this.data.id);
    }

    //Implement FullCalendar's Dynamic Update Events by Click Event
    function clicktest(value) {
        var calendar = $('#calendar');
        calendar.fullCalendar('removeEventSources');
        calendar.fullCalendar('addEventSource', function (start, end, timezone, callback) {
            $.ajax({
                url: "/Main/GetCalendarData/"+ value,
                type: "POST",
                dataType: "JSON",

                success: function (result) {
                    var events = [];

                    $.each(result, function (i, data) {
                        events.push(
                            {
                                id: data.id,
                                title: data.title,
                                description: data.discription,
                                start: moment(data.start).format('YYYY-MM-DD'),
                                end: moment(data.end).format('YYYY-MM-DD'),
                                guider: data.guider,
                                color: 'red',
                                textColor: 'white'
                            });
                    });

                    callback(events);
                }
            });
        }, true);
        calendar.fullCalendar('rerenderEvents');
    }

</script>