@model IEnumerable<MVC.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>行程列表</h2>
    <p>
        @Html.ActionLink("新增資料", "Create", null, new { @class = "btn btn-outline-info" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.guider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filepath)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @item.start.ToShortDateString()
                    @*@Html.DisplayFor(modelItem => item.start)*@
                </td>
                <td>
                    @item.end.AddDays(-1).ToShortDateString()
                    @*@Html.DisplayFor(modelItem => item.end)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.discription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.guider)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color)
                </td>
                
                <td>
                    @if (item.title != "請假")
                    {
                        @Html.ActionLink("開啟檔案", "GetReport", new { path = item.filepath }, new { @class = "btn btn-info btn-sm", @target = "_blank" })
                    }
                </td>
                
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.id }, new { @class = "btn btn-outline-info btn-sm" }) |
                    @Html.ActionLink("詳細", "Details", new { id = item.id }, new { @class = "btn btn-outline-primary btn-sm" }) |
                    @Html.ActionLink("刪除", "Delete", new { id = item.id }, new { @class = "btn btn-outline-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
